.quiz {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #3470a5;
  color: #e5e5ec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.question-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.answer-section button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e6e6fa;
  color: #000;
}

.answer-section button:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
  border-color: #ddd;
}

.correct {
  background-color: #65aa67 !important;
  color: white;
}

.incorrect {
  background-color: #d9534f !important;
  color: white;
}

.score-section {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #65aa67;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #9c8fb1;
}

button:disabled {
  background-color: #aaa;
}
